* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.box1, .box2, .box3 {
    display: flex;
    color: red;
    font-size: 2rem;
}
.box1 {
  height: auto;
  
  
}
.box2 {
    height: auto;
    align-self: center;

}

.box3 {
    height: auto;
    transform: rotate(180deg);   
    border: 2px solid black; 

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.size {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 100vh;
}